
@import '../realogy-theme.scss';
@import '~@angular/material/theming';

mat-sidenav-container.dark-mode {
  background: black;
}

.app-content {
  padding: 5px;
}

.app-content mat-card {
  margin: 5px;
}

.app-sidenav {
  min-width: 200px;
}

.app-content mat-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-fab {
  position: fixed !important;
  bottom: 24px;
  right: 24px;
  z-index:9999;
}

.app-spinner {
  height: 32px;
  width: 32px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
  padding: 0 5px;
}

.app-menu-button {
  padding: 0;
  min-width: 50px;
}
.app-button {
  margin: 5px;
}

.app-list {
  border: 1px solid rgba(0,0,0,0.12);
}

.app-progress {
  margin: 5px;
}

.example-h2 {
  margin: 10px 0;
  color: rgba(0,0,0,.54);
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}

.mat-slider-horizontal {
  width: 300px;
}

.mat-slider-vertical {
  height: 300px;
}

/* CHIP OVERRIDES*/

mat-chip {
  max-width: 200px;
  background-color:white;
  border:1px solid;
  border-color: rgba( #2b2e30, .12 );
  text-transform:lowercase;
  font-weight:400;
  font-size:0.75rem;
  height:32px;
}

.mat-chip.mat-standard-chip {
  background-color:white;
}

.mat-chip.mat-standard-chip:active, .mat-chip.mat-standard-chip:hover, .mat-chip.mat-standard-chip:focus {
  border:1px solid #2b2e30;
  background-color:white;
}

/*---------*/


.app-sidebar-button {
  width: inherit;
}

.example-spacer {
  flex: 1 1 auto;
}

/*BUTTON OVERRIDES*/

a.mat-stroked-button, button.mat-stroked-button {
  color: mat-color($primary, 500);
  border-color:mat-color($primary, 500);
  margin-right: 8px;
  
  &:nth-last-child() {
    margin-right: 0px;
  }
}

.mat-raised-button.mat-primary:hover {
box-shadow: inset 36px 36px rgba(255,255,255,.08);
}

p.mat-line.secondary-text {
  color:rgba( #2b2e30, .6 );
  font-size:10px;
}

/* ICON BUTTON OVERRIDES*/

.mat-icon-button.action {
  background-color:#f2f2f2;
  border-radius:50%;
}

.mat-icon-button.action:hover, .mat-icon-button.action:active {
  background-color: white;
  box-shadow: inset 0 0 0 1px #f2f2f2;
  border-radius:50%;
}

.mat-icon.information {
color: $information-color;
}
.mat-icon.warn{
color: mat-color($warn, 500);
}
.mat-icon.fav {
  color: $favorite-color;
}

/*----------*/
/* FORM FIELD FIXES*/


.mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 0em;
}

/*------------*/
/*SNACKBAR ACTION TEXT OVERRIDES*/

.mat-simple-snackbar-action {
  color:mat-color($primary, 300)!important;
}
/*------------*/
/*ACTIVE TAB OVERRIDE*/

.mat-tab-label-active{
  color:mat-color($primary, 500);
  opacity: 1;
}
/*----*/

/*TABLES*/
.table-wrapper {
  border: 1px solid #e9e9e9;
  border-bottom: none;
  overflow: auto;
  width: 100%;
  @include mat-elevation(2);

  @media screen and (max-width: 720px) {
    max-height: 450px;
  }
}

table {
  width: 100%;
  max-width: 90vw;
}

table.mat-table {
  border-collapse: separate;
  width: 100%;

  @media screen and (max-width: 720px) {
    width: 150%;
  }

  .mat-table-sticky:first-child {
    @media screen and (max-width: 720px) {
      border-right: 1px solid $fog;
      width: 150px;
    }
  }

  thead tr.mat-header-row th.mat-header-cell {
    z-index: 0 !important;

    @media screen and (max-width: 720px) {
      z-index: 4 !important;
    }

    &:first-child {
      @media screen and (max-width: 720px) {
        z-index: 5 !important;
      }
    }
  }

  th.mat-header-cell {
    color: mat-color($primary, 'A200-contrast');
    font-weight: bold;
  }

  th.mat-header-cell,
  td.mat-cell {
    padding-left: 24px;
  }

  tr.mat-row:hover {
    background: $light-gray;
  }
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

th.mat-header-cell:last-of-type {
  padding-right: 0px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}


tr.mat-row:hover {
  background:#f9f9f9;
}

/*BUTTON TOGGLE OVERRIDES*/
.mat-button-toggle-button:focus {
  background-color:mat-color($primary, 500);
  color:white;
}

/*LIST OVERRIDES*/
.mat-list-item:hover{
  background:#f9f9f9;
}

  /* CARD OVERRIDES */
.mat-card-content {
  line-height: 1.5;
}
