@import '~@angular/material/theming';
@import 'typography.scss';

@include mat-core();

//Coldwell Banker
$cb-palette: (
    50 : #e4edff,
    100 : #bcd2ff,
    200 : #8fb4ff,
    300 : #6296ff,
    400 : #4180ff,
    500 : #1f69ff,
    600 : #1b61ff,
    700 : #1756ff,
    800 : #124cff,
    900 : #0a3bff,
    A100 : #ffffff,
    A200 : #f5f6ff,
    A400 : #c2ccff,
    A700 : #a8b6ff,
    contrast: (
        50 : #2b2e30,
        100 : #2b2e30,
        200 : #2b2e30,
        300 : #2b2e30,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #2b2e30,
        A200 : #2b2e30,
        A400 : #2b2e30,
        A700 : #2b2e30,
    )
);

$cb-warning: (
    50 : #fbe7e6,
    100 : #f5c2bf,
    200 : #ef9a95,
    300 : #e8716b,
    400 : #e3524b,
    500 : #de342b,
    600 : #da2f26,
    700 : #d52720,
    800 : #d1211a,
    900 : #c81510,
    A100 : #fff7f6,
    A200 : #ffc4c3,
    A400 : #ff9290,
    A700 : #ff7977,
    contrast: (
        50 : #2b2e30,
        100 : #2b2e30,
        200 : #2b2e30,
        300 : #2b2e30,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #2b2e30,
        A200 : #2b2e30,
        A400 : #2b2e30,
        A700 : #2b2e30,
    )
);

//Zip Realty
$zip-primary: (
    50 : #f5ebe0,
    100 : #e7ceb3,
    200 : #d7ad80,
    300 : #c78c4d,
    400 : #bb7326,
    500 : #af5a00,
    600 : #a85200,
    700 : #9f4800,
    800 : #963f00,
    900 : #862e00,
    A100 : #ffc6b3,
    A200 : #ffa080,
    A400 : #ff7b4d,
    A700 : #FF8800,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$zip-accent: (
    50 : #fff1e0,
    100 : #ffdbb3,
    200 : #ffc480,
    300 : #ffac4d,
    400 : #ff9a26,
    500 : #ff8800,
    600 : #ff8000,
    700 : #ff7500,
    800 : #ff6b00,
    900 : #ff5800,
    A100 : #ffffff,
    A200 : #fff6f2,
    A400 : #ffd1bf,
    A700 : #ffbfa6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//Set Theme
$primary: mat-palette($cb-palette);
$accent:  mat-palette($cb-palette, 300);
$warn:    mat-palette($cb-warning, 500);

a, a.visited {
  color:mat-color($primary, 500);
}

//Custom Color Variables
$information-color: #f4b124;
$favorite-color: #e96084;
$light-gray: #f9f9f9;
$fog: #e9e9e9;

//Instantiate Theme
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

.dark-mode {
  $primary: mat-palette($cb-palette, 300);
  $accent:  mat-palette($cb-palette, 300);
  $warn:    mat-palette($mat-red, A700);

  $theme:   mat-dark-theme($primary, $accent, $warn);

  @include angular-material-theme($theme);
}
